<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Index View</title>
        <link rel="stylesheet" href="{{ asset('css') ~ '/login.css' }}" />
    </head>

    <body>

      <div class="header-right">
        <div class="header-navi" onclick="logout('{{ path('user_logout') }}')">Logout</div>
      </div>

      <h1>Test index</h1>
    </body>
</html>