{% extends "SofApiBundle::layout.html.twig" %}
{% block content %}
    <div id="Common_LoadPlayer" action="{{ path('Common_LoadPlayer') }}"></div>
    <div id="Common_LoadDriver" action="{{ path('Common_LoadDriver') }}"></div>
    <div id="updateData" action="{{ path('updateData') }}"></div>
    <div id="deleteData" action="{{ path('deleteData') }}"></div>
{% endblock %}
