<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Grocery Store</title>
    <link rel="stylesheet" href="{{ asset('css') ~ '/login.css' }}" />
</head>

<body>
<div class="login">
    <div class="login-screen">
        <div class="app-title"><h2>Grocery Store System</h2></div>
        <div class="login-form">
            <h1>404 Page not found</h1>
        </div>
        <div class="designer">Design By HieuNLD</div>
    </div>
</div>
</body>
</html>